<html>
    <head>
        {% include "head.html" %}
    </head>
    {% include "navbar.html" %}
    <body>
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Hello!</strong>{{ message }}.
                  </div>
                {% endfor %}
            {% endif %}

        {% block content %}
        


        {% endblock content %}


        
        {% include "script.html" %}
        {% include "footer.html" %}        

    </body>
</html>